# ใช้ proxy ของ Next.js
API_BASE=http://localhost:8000

# ถ้าฝั่ง client จะยิงเอง (เช่น useEffect) ค่อยใช้ตัวนี้
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000


ENABLE_PROXY=false
NEXT_PUBLIC_API_PREFIX=
NEXTAUTH_DEBUG=true

AUTH_AZURE_AD_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
AUTH_AZURE_AD_CLIENT_SECRET=your_client_secret_value
AUTH_AZURE_AD_TENANT_ID=yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy  # หรือไม่ใส่ก็ใช้ "common"
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_random_long_secret
