PORT=8000
NODE_ENV=production

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=it_software_mgmt

JWT_SECRET=please_replace_me
TOKEN_EXPIRES_IN=7d
FRONTEND_ORIGIN=http://localhost:3000